---

layout: default
title: 驿站大门

---
<!-- artical -->
<ul>
	{% for post in paginator.posts %}
	<li class="text-right" style="margin-bottom:0px">
		<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		<h4><small>{{ post.date | date:"%b %-d, %Y" }}</small></h4>
		<p align=right>
		{% if post.description %}
			{{ post.description | strip_html | strip_newlines | truncate:100 }}
		{% else %}
			{{ post.content | strip_html | strip_newlines | truncate: 100 }}
		{% endif %}
		<a class="btn" href="{{ post.url | prepend: site.baseurl }}">Read more »</a></p>
	<hr>
	</li>
	{% endfor %}
</ul>

<!--pager-->
<nav aria-label="...">
<ul class="pager">
	{% if paginator.previous_page %}
	<li class="previous"><a href="{{ paginator.previous_page_path }}">&laquo; Prev</a></li>
	{% else %}
	<li class="previous disabled"><a href="#">&laquo; Prev</a></li>
	{% endif %}	
	{% if paginator.next_page %}"
	<li class="next"><a href="{{ paginator.next_page_path }}">Next &raquo;</a></li>
	{% else %}
	<li class="next disabled"><a href="#">Next &raquo;</a></li>
	{% endif %}	
</ul>
<nav>
